alertClip=false
alertClipTimeout=5
chooserDividerLocation=210
chooserVisible=false
clipboardMaximized=false
clipboardSizeX=0
clipboardSizeY=0
clipboardVisible=false
clipboardX=0
clipboardY=0
durationA=1.86
durationB=-0.85
durationEnabled=false
fdsnDataselectURL=
fdsnStationURL=
hideStaleChannel=false
hypocenterSource=HR_ALL
kiosk=false

lastPath=
layout=
loadLayout=true

mapHeight=100
mapLatitude=-1.1001101898601942
mapLineColor=0
mapLineWidth=2
mapLongitude=113.40647999999999
mapMaximized=true
mapPath=mapdata
mapScale=3804.2555623289054
mapVisible=false
mapWidth=100
mapX=0
mapY=0

nearestDividerLocation=784
pVelocity=6.0

saveConfig=true

server=Geofon-FD;wsc:GE||||3600|1000|http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/query|http://geofon.gfz-potsdam.de/fdsnws/station/1/query
server=Geofon-SL;sls:geofon.gfz-potsdam.de:18000

showClip=true
span=24
specificTimeZone=UTC
timeChunk=30

useInstrumentTimeZone=true
useLargeCursor=false
useLocalTimeZone=true
useWMS=true
userTimes=

velocityRatio=1.73

windowMaximized=true
windowSizeX=1920
windowSizeY=1080
windowX=0
windowY=0

wmsLayer=0
wmsServer=https://basemap.nationalmap.gov/arcgis/services/USGSTopo/MapServer/WMSServer?
wmsStyles=